._main{
    display : flex;
}

._main_right {
    margin-top: 4rem !important;
    width: 80% !important;
    height: 650px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    border: none !important;
    min-height: 400px !important;
    -ms-overflow-style: none !important;
    background-color: white !important;
}

._main .row {
    display : flex;
    justify-content: space-between;
}

._main .row.filters {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

._main .segment {
    padding : 2rem !important;
}

.row.filters button {
    color : var(--blue_darker);
    background-color: transparent;
}

.row.filters button:hover {
    color : var(--primary);
    background-color: transparent;
}

.row.filters button:focus {
    color : var(--primary);
    background-color: transparent !important;
}

._active {
    border-radius: 0 !important;
    color : var(--primary) !important;
    border-bottom: solid 1px !important;
}

.table_header th {
    background-color: var(--primary) !important;
    color : white !important;
}

.manage_button #infos_btn{
    background-color: white !important;
}

.manage_button #infos_btn:hover {
    background-color: var(--gray_light) !important;
}

.manage_button {
    padding-right : 12px !important;
}

.citoyen_declar_pagin {
    position: absolute !important;
    bottom: 5% !important;
    left: 5% !important;
    border-bottom: 2px solid rgba(34, 36, 38, 0.15) !important;
}

._main  .ui.loading.segment:before {
      background: rgba(247, 249, 251, 0.9);
}

.show_mobile {
    display : none !important;
}

.search input {
    width : 300px !important;
}

.sort_field > i{
    margin-left: 10px !important;
}

.full_text {
    display: none;
}

td:hover > .full_text{
    display: inline;
    position: absolute;
    color : black;
    max-width : 300px;
    padding: 1rem;
    text-align: justify;
    text-justify: inter-word;
    border-radius: 3px;
    background-color: #ebebeb;
    z-index: 1;
}

.zero-data {
    color : var(--gray);
    font-size: xxx-large;
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 150px;
}

@media (max-width : 999px){
    ._main thead { 
        display: none !important;    
    }

    ._main {
        height: 100%;
    }

    ._main .segment {
        padding: 1.5rem !important;
    }

    ._main_right {
        margin-bottom: 2rem !important;
        height: 100% !important;
        width : 95% !important;
        min-height: 650px !important;
    }

    .search input {
        margin-top : 10px !important;
        margin-bottom: 10px !important;
        width: 200px !important;
    }

    ._main .row {
        flex-direction: column;
    }

    ._main .row.filters {
        display: none !important;
    }

    ._hide_mob{
        display: none !important;
    }

    .citoyen_declar_pagin {
        position: relative !important;
    }

    .filter_declaration {
    color: var(--primary) !important;
    border-radius: 0px !important;
    width: 200px !important;
    text-align: center !important;
    border: 2px solid !important;
    border-color: var(--primary);
    background-color: transparent !important;
    margin-top: 10px !important;
    }
    
    .filter_declaration > i {
        color: white !important;
        background-color: var(--primary) !important;
        border: solid 0.5px var(white);
    }

    .show_mobile{
        display: flex !important;
        justify-content: space-between !important;
    }

    .zero-data{
        margin-top: 100px;
        font-size: x-large;
    }

    #address {
        display: none !important;
    }

    #geo_loc {
        display: none !important;
    }

    @media (max-width : 472px) {
        .show_mobile{
            display: block !important;
        }
    }
}

