._citoyen_sidebar {
  width: 210px;
  position: fixed;
  top: 70px;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  color: var(--blue_darker);
  padding: 2rem 0;
  margin-right: 1rem;
  z-index: 1;
}

._citoyen_sidebar.rtl a,
._citoyen_sidebar.rtl p{
  font-family: "Cairo", sans-serif;
  font-weight: 600;
}

._citoyen_sidebar.dark {
  background-color: var(--main_dark);
}

._citoyen_sidebar.rtl {
  right: 0;
  margin-right: 0;
  margin-left: 1rem;
}

._citoyen_sidebar.rtl .file.text.item {
  display: flex;
  flex-direction: row-reverse;
}

._citoyen_sidebar.rtl .file.text.item .content {
  text-align: right;
  padding-right: 20px;
}

.file.text,
.file.text .icon {
  color: rgb(87, 98, 113) !important;
}

._citoyen_sidebar.dark .add_declaration,
._citoyen_sidebar.dark .sidebar_list_cit .item.active {
  background-color: var(--background_dark) !important;
  color: var(--primary_text_dark);
}

._citoyen_sidebar.dark .item:hover {
  background-color : var(--hover_dark);
}

.add_declaration {
  text-decoration: none;
  margin-bottom: 1rem;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302),
    0 1px 3px 1px rgba(60, 64, 67, 0.149);
  padding: 0.7rem 0.5rem;
  border-radius: 25px;
  align-items: center;
  background-color: #fff;
  color: var(--blue_darker);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
}
.add_declaration .ui.list > a.item {
  font-size: 1rem !important;
  color: rgb(87, 98, 113) !important;
}
.add_declaration .item {
  color: rgb(87, 98, 113) !important;
}
._citoyen_sidebar.dark .item,
._citoyen_sidebar.dark .item .icon {
  color: var(--primary_text_dark) !important;
}
.add_declaration:hover {
  color: var(--blue_darker);
  background-color: #fff;
}
.add_declaration p {
  white-space: nowrap;
}
.add_declaration .icon {
  margin: 0;
}
.add_declaration:hover {
  box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302),
    0 4px 8px 3px rgba(60, 64, 67, 0.149);
  background-color: #fafafb;
}
.sidebar_list_cit {
  font-size: 1rem !important;
}
.sidebar_list_cit .item {
  border-radius: 0 22px 22px 0px;
  padding: 0.75rem 2rem !important;
  cursor: pointer;
}

._citoyen_sidebar.rtl .item {
  border-radius: 22px 0 0 22px !important;
}
.sidebar_list_cit .item:hover {
  background-color: #f1f3f4;
}
.sidebar_list_cit .item.active {
  background-color: #29b5f654;
  color: #0e4c69;
  font-weight: 800;
}
@media (max-width: 929px) {
  ._citoyen_sidebar {
    display: none !important;
  }
}
