._admin_edit_profile {
  display: flex;
  background-color: white;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
._admin_edit_profile > .menu {
}
._info_menu {
  width: 60%;
  margin: 0 4rem;
}
._info_menu .item {
  color: #95989a !important;
  font-size: 20px !important;
  border-width: 1px !important;
  border-color: #95989a !important;
}
._info_menu .item.active {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
  border-width: 3px !important;
}
._info_menu .ui.secondary.pointing.menu {
  border-width: 0px !important;
  border-color: none !important;
}
._form_password {
  display: flex;
  flex-direction: column;
}
.input_p {
  position: relative;
}
.input_p i {
  position: absolute;
  right: 10%;
  top: 50%;
  color: #95989a !important;
}
._button_edit_profile {
  display: flex;
  margin: 4rem 0 !important;
}
._button_edit_profile .button {
  margin: 0 1.5rem;
  padding: 1rem !important;
  font-size: 16px !important;
}
._form_profile_informations .form {
  min-height: 310px !important;
}
._form_profile_informations .form label {
  font-size: 16px !important;
  color: #707070 !important;
  font-weight: bolder !important;
}
._form_profile_informations .form .fields {
  margin-bottom: 1.6rem;
}
._form_profile_informations .form .fields .field {
  padding: 0 1.5rem;
}
._form_profile_informations .form .fields .field .input {
  font-size: 14px !important;
  color: #576271 !important;
}
._form_profile_informations .form .fields .field .input input {
  border: none !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  border-radius: 5px !important;
  min-width: 270px !important;
}
@media (max-width: 1399px) {
  ._info_menu {
    margin: 0 !important;
  }
}
@media (max-width: 1149px) {
  ._info_menu .item {
    font-size: 16px !important;
  }
}
@media (max-width: 1080px) {
  ._admin_edit_profile {
    padding: 1rem 0.5rem !important;
  }
}
