._admin_edit_profile {
  display: flex;
  background-color: white;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

._info_menu {
  width: 60%;
  margin: 0 4rem;
}
._info_menu .item {
  color: #95989a !important;
  font-size: 20px !important;
  border-width: 1px !important;
  border-color: #95989a !important;
}
._info_menu .item.active {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
  border-width: 3px !important;
}
._info_menu .ui.secondary.pointing.menu {
  border-width: 0px !important;
  border-color: none !important;
}
._form_password {
  display: flex;
  flex-direction: column;
}
.input_p {
  position: relative;
}
.input_p i {
  position: absolute;
  right: 10%;
  top: 50%;
  color: #95989a !important;
}
._button_edit_profile {
  display: flex;
  margin: 4rem 0 !important;
}
._button_edit_profile .button {
  margin: 0 1.5rem;
  padding: 1rem !important;
  font-size: 16px !important;
}
._form_profile_informations .form {
  min-height: 250px !important;
}
._form_profile_informations .form label {
  font-size: 16px !important;
  color: #707070 !important;
  font-weight: bolder !important;
}
._form_profile_informations .form .fields {
  margin-bottom: 1.6rem;
}
._form_profile_informations .form .fields .field,
._form_profile_informations .form .fields .disabled.field {
  padding: 0 1.5rem;
}
._form_profile_informations .form .fields .disabled.field {
  opacity: 1 !important;
}
._form_profile_informations .form .fields .disabled.field .input {
  opacity: 1 !important;
}
._form_profile_informations .form .fields .field .input {
  font-size: 14px !important;
  color: #576271 !important;
}
._form_profile_informations .form .fields .field .input input,
.label_input {
  border: none !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  border-radius: 5px !important;
  min-width: 270px !important;
}
._profile_img_edit.mobile {
  display: none;
}

@media (max-width: 1299px) {
  ._form_profile_informations .form .fields .field .input input {
    min-width: 220px !important;
  }
}
@media (max-width: 1179px) {
  ._form_profile_informations .form .fields .field .input input {
    min-width: 220px !important;
  }
}
@media (max-width: 1399px) {
  ._info_menu {
    margin: 0 !important;
  }
}
@media (max-width: 1149px) {
  ._info_menu .item {
    font-size: 16px !important;
  }
}
@media (max-width: 1080px) {
  ._admin_edit_profile {
    padding: 1rem 0.5rem !important;
  }
}
@media (max-width: 999px) {
  ._form_profile_informations .form .fields {
    display: flex;
    flex-direction: column !important;
    margin: 0 !important;
  }
  ._form_profile_informations .form .fields .field {
    margin: 1rem 0;
  }
  ._button_edit_profile {
    flex-direction: column-reverse !important;
    margin: 1.5rem !important;
  }
  ._button_edit_profile .button {
    margin: 1rem 0 !important;
  }
  .input_p i {
    display: none;
  }
  ._info_menu {
    width: 100%;
  }
  ._profile_img_edit.hide {
    display: none !important;
  }
  ._profile_img_edit.mobile {
    display: flex !important;
    justify-content: flex-end;
    width: 100%;
    padding: 0.5rem;
  }
  ._profile_img_edit.mobile i {
    color: #576271;
  }
  .edit_mobile svg {
    width: 30px !important;
  }
}
._profile_input_admin_mobile {
  padding-top: 0.5rem;
}
._profile_input_admin_mobile input {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
}
.row.mobile_menu > .ui.secondary.pointing.menu .active.item {
  color: var(--primary) !important;
  border-color: var(--primary) !important;
}
.row.mobile_menu > .ui.secondary.pointing.menu .item {
  color: #939393 !important;
  border-color: #939393 !important;
}
.row.mobile_menu > .ui.secondary.pointing.menu {
  border: 0 !important;
}
.col_mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
