._new_password_form {
 padding: 20px !important;
}

._reset_section {
  background-color: #0085c3;
}

._form {
  width : 80%;
}

._reset_card{
  width : px;
padding: 50px !important;
background-color: white;
}

@media (max-width: 499px) {
  .citoyen_mobile_container > .row {
    width: 300px !important;
  }
}


._login_admin_section {
  padding: 6rem 4rem;
  padding-bottom: 3rem !important;
}

._admin_login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._admin_login_form .input,
._admin_login_form .input input {
  width: 350px !important;
  background-color: #f2f2f2 !important;
  border: none !important;
  border-radius: 5px;
}
._admin_login_form .input input::placeholder {
  color: #c2c2c2 !important;
}
._logo {
  width: 94px;
  height: 90px;
  padding-bottom: 4px;
}

@media (max-width: 1199px) {
  ._admin_login_form .input,
  ._admin_login_form .input input {
    width: 250px !important;
  }
}
@media (max-width: 999px) {
  ._admin_login {
    display: none !important;
  }
  ._new_password_form{
   padding: 30px !important;
  }


  ._reset_mobile {
    display: flex;
  align-items: center;
  justify-content: center;
  }


  ._admin_login_form .input,
  ._admin_login_form .input input {
    width: 200px !important;
  }
  ._admin_login_form {
    margin: 0rem 0 !important;
  }
  ._login_admin_section {
    padding: 5rem 0 !important;
  }
  ._logo {
    width: 80px !important;
    height: 80px !important;
  }
}
