._form_reset_password {
  width: 100vw;
  height: 100vh;
  background-color: #0085c3 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

._reset_password_section {
  width: 60% !important;
}

._card_mail_verification {
  display: flex;
  flex-direction: column !important;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: white;
}
._reset_password_form.mail_verif {
  min-height: 246px !important;
}
._reset_password_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
._reset_password_form .input,
._reset_password_form .input input {
  background-color: #f2f2f2 !important;
  border: none !important;
  border-radius: 5px;
}
._reset_password_form .input input::placeholder {
  color: #c2c2c2 !important;
}
._logo {
  width: 94px;
  height: 90px;
  padding-bottom: 10px;
}

._titre {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px !important;
  font-size: medium;
}

@media (max-width: 999px) {
  ._reset_password_section {
    width: 100vw !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  ._card_mail_verification {
    width: 80% !important;
  }

  ._titre {
    display: flex;
    text-align: center !important;
    width: 100% !important;
  }

  ._sous_titre {
    display: flex !important;
    flex-direction: column !important;
    text-align: center !important;
  }

  ._reset_password_form .input,
  ._reset_password_form .input input {
    width: 100% !important;
  }

  ._logo {
    width: 80px !important;
    height: 80px !important;
  }
}

@media (max-width: 799px) {
  ._reset_password_section {
    width: 100vw !important;
  }
}
