._maire_declarations {
  position: relative;
  width: 100%;
  min-height: 650px;
  padding-top: 6rem;
  padding-left: 19rem !important;
  padding-right: 2rem !important;
}

._maire_declarations .text-default {
  color: var(--primary) !important;
  position: sticky !important;
}
._success_modal.info .header {
  color: #794b02bb !important;
}
._success_modal.info .button {
  background-color: #794b02bb !important;
  color: white !important;
}
._success_modal.err .header {
  color: var(--red) !important;
}
._success_modal.err .button {
  background-color: var(--red) !important;
  color: white !important;
}
._main_header {
  border-bottom: solid 1px;
  border-color: #e0e3da;
  padding-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px;
}

._main_body {
  margin-top: 1.8rem !important;
  margin-bottom: 2rem !important;
  min-height: 600px;
  background-color: white !important;
  height: 100%;
  padding: 1rem 3rem !important;
}

._main_body .row {
  display: flex;
  justify-content: space-between;
  padding: 1rem !important;
  align-items: baseline;
}

._main_body .filter_declaration {
  color: var(--primary) !important;
  background-color: white !important;
  border: 1px solid var(--primary) !important;
  border-radius: 3px !important;
  text-align: center !important;
}

._main_body .filter_declaration > i {
  background-color: white !important;
}

._main_body .filter_declaration:hover {
  color: white !important;
  background-color: var(--primary) !important;
}

._main_body .filter_declaration:hover > i {
  background-color: var(--primary) !important;
}

._maire_pagination {
  margin-bottom: 1.5rem !important;
  margin-left: 1.5rem !important;
  bottom: 10px !important;
  border: none !important;
  border-bottom: 2px solid rgba(34, 36, 38, 0.15) !important;
  width: fit-content;
}

._maire_table th {
  background-color: var(--primary) !important;
  color: white !important;
}

._maire_table .infos_button {
  padding: 0 !important;
}

._main_body ._mobile {
  display: none !important;
}

._hide_on_desktop {
  display: none !important;
}

.detail_content ._header_modal {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

._declaration_details .marginTop {
  margin-top: 2rem !important;
  margin-bottom: 1rem !important;
}

@media (max-width: 999px) {
  ._hide {
    display: none;
  }
}

@media (max-width: 899px) {
  ._hide_on_desktop {
    display: inline !important;
  }

  ._maire_table ._infos_btn_desktop {
    display: none;
  }

  ._left {
    text-align: left !important;
  }

  ._maire_declarations {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
    padding-top: 8rem !important;
    width: 100%;
    position: unset;
    min-height: 0 !important;
  }
  ._maire_table ._hide._hide_td {
    display: inline !important;
  }
  ._main_body ._mobile {
    display: block !important;
    margin-bottom: 1rem !important;
  }
  ._main_body {
    padding: 1rem 1rem !important;
  }

  ._table_title {
    font-weight: 700;
  }
  ._maire_table tr {
    display: flex !important;
    flex-direction: column !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset !important;
  }
  ._maire_table td {
    border-top: none !important;
    padding: 0.25em 0.75em !important;
  }
  ._maire_table th {
    display: none !important;
  }
  ._main_body .filter_declaration > i {
    color: var(--primary) !important;
  }
  ._main_body .filter_declaration:hover > i {
    color: white !important;
  }
  ._maire_pagination {
    position: relative !important;
    bottom: 0 !important;
    left: 0 !important;
  }

  @media (max-width: 750px) {
    ._main_body > .row {
      display: flex !important;
      flex-direction: column !important;
      padding: 0 !important;
    }
    ._main_body .filter_declaration {
      width: 100% !important;
      margin-bottom: 1rem !important;
    }
    ._main_body > .row .search {
      width: 100%;
    }
    ._main_body > .row .search .input {
      width: 100% !important;
      margin-bottom: 1rem !important;
      margin-top: 1rem !important;
    }
  }
}
