._citoyen_login {
  width: 100%;
  height: 100vh;
}

._citoyen_login.rtl {
  direction: rtl;
}

._citoyen_login_hero_section {
  background-image: url("../../assets/images/hero_section_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
}
._citoyen_login .d-flex {
  flex-direction: column;
  align-items: center;
}

._citoyen_login.mobile {
  background-image: url("../../assets/images/hero_section_image.jpg");
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 800px !important;
  position: relative;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
._citoyen_login.mobile.full {
  height: 1000px !important;
}

.citoyen_mobile_container {
  padding: 2rem !important;
  position: absolute;
  top: 6%;
  z-index: 10;
}
.citoyen_mobile_container > .row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px !important;
  z-index: 10 !important;
}
.citoyen_mobile_container > .row > ._form_login {
  background-color: white;
  width: 100%;
}
.slogan.blue {
  position: absolute !important;
  left: 0px !important;
  top: 20%;
  background-color: #29b5f683;
  width: 60%;
  padding: 3rem;
  font-size: 32px;
  text-align: right;
  font-weight: 900 !important;
}
._logo_hero_section {
  position: absolute !important;
  left: 5% !important;
  top: 30%;
  height: 240px;
}
._citoyen_login .row {
  padding-top: 1.2rem !important;
}
.slogan.orange {
  position: absolute;
  right: 0px;
  background-color: #f66a2983;
  width: 60%;
  padding: 3rem;
  text-align: left;
  font-size: 32px;
  font-weight: 900;
}
.slogan.orange.top {
  top: 40%;
}
@media (max-width: 999px) {
  .slogan.blue {
    position: absolute !important;
    left: 0px !important;
    top: 1% !important;
    width: 100% !important;
    padding: 1.5rem !important;
    text-align: right !important;
    font-size: 20px;
  }
  .slogan.orange {
    position: absolute !important;
    left: 0px !important;
    width: 100% !important;
    padding: 1.5rem !important;
    background-color: #f66a2983;
    font-size: 20px;
    text-align: left !important;
    bottom: 1% !important;
  }
  .citoyen_mobile_container {
    top: 5% !important;
  }
}
@media (max-width: 499px) {
  .citoyen_mobile_container > .row {
    width: 33 0px !important;
  }
}
