._add_dec {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.container_add_dec.rtl {
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

.container_add_dec.rtl .button,
.container_add_dec.rtl h3,
.container_add_dec.rtl .form input,
.container_add_dec.rtl textarea {
  font-family: "Cairo", sans-serif;
}

._add_dec.dark {
  background: var(--second_dark);
}

._add_dec.dark h3,
._add_dec.dark .form label,
._add_dec.dark p,
._add_dec.dark .form .menu.transition .item,
._add_dec.dark .form .field .ui.selection.dropdown,
._add_dec.dark .form .field .ui.selection.dropdown div {
  color: var(--primary_text_dark) !important;
}


._add_dec.dark .form .menu.transition .item {
  border-color: #343435;
}

._add_dec.dark .form input,
._add_dec.dark .form input:focus,
._add_dec.dark .field .selection.dropdown,
._add_dec.dark .form textarea {
  background-color: var(--background_dark);
  color: var(--primary_text_dark);
}

._add_dec.dark .form input:focus,
._add_dec.dark .form textarea:focus,
._add_dec.dark .form input:focus {
  border-color: var(--primary_dark) !important;
}

._add_dec.dark .form .menu.transition {
  background-color:  var(--background_dark);
}

._add_dec.dark ._profile_img_edit.add_dec,
._add_dec.dark .button_primary {
  background-color: var(--primary_dark) !important;
}

._add_dec.dark .button_secondary {
  background-color: var(--secondary_dark) !important;
}

.container_add_dec.dark {
  background: var(--main_dark);
}
.container_add_dec {
  max-width: 70%;
  padding: 2rem 0;
  margin-left: auto;
  margin-right: auto;

  height: 100%;
}
.container_add_dec .form {
  width: 50%;
}
.container_add_dec .form .field label,
.label_add_dec {
  color: var(--blue_darker);
  font-size: 16px !important;
}
.gps_icon {
  position: absolute;
  right: 2%;
  top: 50%;
  width: 25px;
  height: 25px;
}
._profile_img_edit.add_dec {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  color: white;
  background-color: var(--primary);
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 2rem;
}
.prev_images_dec {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0;
}

.prev_images_dec .image {
  width: 130px;
  margin: 0 1rem;
  height: 130px;
}
._add_dec .form .input,
._add_dec .form .selection.dropdown {
  height: 45px;
  font-size: 16px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
}
._add_dec .form textarea {
  font-size: 16px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
}
._add_dec .form .input input {
  padding: 1.5rem;
}
.container_add_dec.rtl .form input {
  text-align: right;
}
.prev_images_dec .icon {
  position: absolute;
  right: 5%;
  top: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
}
.cordination_gps {
  position: absolute !important;
  top: 50%;
  left: 2%;
}
._add_dec .disabled.field,
._add_dec .disabled.field .input,
._add_dec .disabled.field label {
  opacity: 1 !important;
}
@media (max-width: 1366px) {
  .container_add_dec {
    width: 60%;
  }
}
@media (max-width: 1199px) {
  .container_add_dec .form {
    width: 80%;
  }
}
@media (max-width: 999px) {
  .container_add_dec {
    width: 50%;
  }
  ._add_dec {
    padding: 2rem 0 !important;
  }
}
@media (max-width: 929px) {
  .container_add_dec {
    width: 100%;
  }
  ._add_btn_dec .button {
    min-width: 20px !important;
    padding: 0% !important;
    width: 130px;
    height: 40px;
  }
}
@media (max-width: 599px) {
  ._add_btn_dec {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  ._add_btn_dec .button {
    margin: 0.75rem 0 !important;
  }
  .container_add_dec {
    max-width: 90% !important;
  }
}
.add_dec_err input,
.add_dec_err textarea,
.add_dec_err .selection.dropdown {
  border: 2px solid var(--red) !important;
  box-shadow: none;
}
.container_add_dec .form .input input:focus,
.container_add_dec .form textarea:focus {
  border: 2px solid var(--primary);
}
