._container_declaration_info {
  height: 100% !important;
  min-height: 550px !important;
  margin-left: 16rem !important;
  margin-right: 3rem !important;
  top: 5rem !important;
  padding: 70px !important;
}
._container_declaration_info.dark {
  background-color: var(--second_dark) !important;
}

._container_declaration_info .action_button_mobile {
  display: none;
}

._container_declaration_info.dark.loading::before {
  background-color: var(--loading_dark) !important;
}

._container_declaration_info.rtl {
  direction: rtl;
  margin-left: 3rem !important;
  margin-right: 16rem !important;
  font-family: "Cairo", sans-serif;
  font-weight: 600;
}

._container_declaration_info.rtl p {
  direction: rtl;
}

._container_declaration_info.rtl .button {
  font-family: "Cairo", sans-serif;
}

._container_declaration_info.dark p {
  color: var(--primary_text_dark);
}

._container_declaration_info.dark ._intitulé {
  color: var(--secondary_text_dark) !important;
}

.status_label.label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ui.small.image {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
._roww a .ui.button {
  background: white !important;
}
.ui.small.image img {
  width: 150px;
  height: 150px;
}
._row {
  padding-left: 1rem !important;
}
._info_container {
  flex-direction: row;
  justify-content: space-between !important;
}

.status_label {
  width: 100px;
  text-align: center;
}

._intitulé {
  padding-bottom: 20px;
  font-size: large;
}

._row1 {
  width: 40%;
}

._row2 {
  width: 55%;
}

._row2 .image {
  margin-right: 50px;
  margin-bottom: 10px;
}

._content {
  padding: 15px 0 !important;
  font-size: large;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

._container_declaration_info ._content {
  flex-direction: row;
  align-items: center;
}

._content2 {
  padding-bottom: 20px;
}
._content3 {
  padding-bottom: 20px;
}

._button1 {
  padding-top: 40px;
  width: 380px;
  display: flex;
  justify-content: space-between;
}

.action_button {
  width: 110px;
}

@media (max-width: 1200px) {
  ._row2 .image {
    margin-right: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 930px) {
  ._info_container {
    display: flex !important;
    flex-direction: column !important;
    width: 100% !important;
  }
  ._row2 .image {
    width: 160px !important;
    height: 140px !important;
    margin: 0 !important;
  }
  ._container_declaration_info.rtl {
    margin-right: 3rem !important;
  }

  ._container_declaration_info .ui.small.image {
    justify-content: flex-start !important;
  }
  ._row1 {
    width: 100% !important;
  }

  ._row2 {
    width: 100% !important;
  }

  ._content {
    width: 100%;
  }
  ._container_declaration_info {
    margin-left: 2rem !important;
    margin-top: 1rem !important;
    margin-right: 2rem !important;
    padding: 40px !important;
  }

  @media (max-width: 550px) {
    ._container_declaration_info,
    ._container_declaration_info.rtl {
      margin-left: 0.5rem !important;
      margin-top: 1rem !important;
      margin-right: 0.5rem !important;
      padding: 30px !important;
    }
  }

  @media (max-width: 485px) {
    ._container_declaration_info .action_button_mobile {
      display: flex;
      justify-content: center;
      width: 60px;
    }

    ._button1 {
      width: 250px;
    }

    ._container_declaration_info .action_button {
      display: none;
    }

    ._row2 .image {
      margin-right: 10px;
    }
  }
}
@media (max-width: 999px) {
  .ui.small.image img {
    margin: 0.75rem;
  }
  ._contentt {
    flex-direction: column;
    align-items: flex-start;
  }
  .status_label.label {
    padding: 0.5rem 1rem !important;
    width: max-content;
    margin: 1rem 0 !important;
    height: max-content;
  }
}
