._annonce_tab {
  width: 350px;
  height: 650px;
  padding: 2rem 2rem !important;
  overflow: hidden !important;
  border-radius: 5px !important;
}

._announces {
  padding-bottom: 30px;
}

._annonce_tab:hover {
  overflow-y: overlay !important;
}

._annonce_tab h3 {
  text-align: center;
  margin-bottom: 30px;
}

._annonce_tab .divider {
  padding: 0 !important;
  width: 100%;
}

._annonce_tab span {
  display: flex;
}

._annonce ._title {
  font-weight: 600;
}

._annonce_tab ._annonce_pagination {
  border: none !important;
  padding-top: 4rem !important;
  padding-bottom: 2rem !important;
}

._tab_content {
  height: 91%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
