.pbutt{
  margin-top: 110.5px !important;
}

.input_p {
  position: relative;
}
.input_p i {
  position: absolute;
  right: 10%;
  top: 50%;
  color: #95989a !important;
}

.input_p > .disabled.field.required{
  opacity : 1 !important
}