.details_content ._header_modal {
  text-align: center !important;
}

.details_content ._redirection_content {
  padding: 2rem !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
.btns_childs {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}
.btns_childs .button {
  margin: 0 0.5rem;
}
.chlp {
  padding: 4rem 0;
  margin-top: 4rem;
}
.childs_dec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 150px;
  padding: 4rem 0;
  padding-bottom: 0;
}
.childs_dec .ui.checkbox {
  margin: 0.5rem 0;
}
.details_content ._redirection_content .ui.selection {
  width: 320px !important;
  margin-bottom: 20px;
}
.ui.striped.table tbody tr.activated_row:nth-child(2n) {
  background-color: #afafaf73 !important;
}
.ui.striped.table tbody tr.activated_row:nth-child(2n + 1) {
  background-color: #afafaf73 !important;
}
.ui.striped.table tbody tr.normal:nth-child(2n + 1) {
  background-color: transparent !important;
}
.Check_box {
  position: absolute;
}
.detail_content ._content_modal {
  width: 100% !important;
  display: flex !important;
  justify-content: start !important;
}

._infos_section {
  position: relative !important;
  left: 20%;
}

._infos_section img {
  display: inline-block !important;
  margin-right: 30px !important;
  margin-left: 30px !important;
  margin-top: 10px !important;
  max-width: 200px !important;
  max-height: 200px !important;
}

._redirection_content .field {
  width: 100% !important;
  display: flex !important;
  flex-direction: column !important;
}

._redirection_content ._priority_section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 200px;
}

._redirection_content label {
  margin-bottom: 1rem !important;
  color: var(--blue_darker);
}

._redirection_content > div {
  display: flex;
  flex-direction: column;
}

._hidden {
  display: none !important;
}

._primary {
  background-color: var(--primary) !important;
}

._images_slides {
  width: 350px;
  height: 210px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._image {
  margin-top: 105px !important;
  margin-bottom: 105px !important;
}

._images_slides .button {
  background-color: white !important;
  color: black !important;
}
._images_slides .button:hover {
  background-color: var(--gray_light) !important;
}

._modal_btns .button {
  margin: 0 1rem;
  padding: 0.7rem 1.5rem !important;
}

.content_modal_btns ._mobile_btn {
  display: none;
}

@media (max-width: 660px) {
  ._images_slides {
    margin-top: 20px !important;
    width: 220px;
    height: 120px;
  }

  ._image {
    margin-top: 60px !important;
  }

  ._infos_section img {
    display: inline-block !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-top: 10px !important;
    max-width: 120px !important;
    max-height: 120px !important;
  }
}

@media (max-width: 550px) {
  ._images_slides {
    width: 180px;
  }

  ._detail_content {
    border-bottom: 1px solid var(--secondary) !important;
  }
  .content_modal_btns ._hidden_on_mobile {
    display: none;
  }

  .content_modal_btns ._mobile_btn {
    display: flex !important;
    justify-content: center !important;
    min-width: 0px !important;
    width: 80px !important;
  }

  .content_modal_btns ._mobile_btn .icon {
    margin: 0 !important;
  }

  ._detail_content ._header_modal p {
    font-size: 20px !important;
  }
}

@media (max-width: 399px) {
  ._infos_section img {
    display: inline-block !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-top: 10px !important;
    max-width: 90px !important;
    max-height: 90px !important;
  }
}
