._admin_login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0085c3;
  width: 100vw;
  height: 100vh;
}
._admin_login > .container {
  width: 50% !important;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

._admin_login > .container > ._admin_card > .row,
._admin_login > .container > ._admin_card > .row > .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1599px) {
  ._admin_login > .container {
    width: 60% !important;
  }
}

@media (max-width: 999px) {
  ._admin_login > .container {
    width: 60% !important;
    height: 80% !important;
  }
}

@media (max-width: 799px) {
  ._admin_login > .container {
    width: 80% !important;
  }
}
._admin_login ._admin_card .row .field {
  min-width: 280px !important;
}
@media (max-width: 399px) {
  ._admin_login ._admin_card .row .field {
    min-width: 220px !important;
  }
}
