._sidebar.citoyen {
  right: 0px;
  left: -250px;
}

._sidebar.citoyen ._sidebar_list {
  height: 550px !important;
}

._citoyen_header.dark .toggle_citoyen line {
  stroke: var(--secondary_text_dark);
}

._sidebar.citoyen.dark {
  background-color: var(--second_dark) !important;
  color: var(--primary_text_dark);
}

._sidebar.citoyen.dark .item a {
  color: var(--primary_text_dark) !important;
}

._sidebar.citoyen.dark.dark .item a.text-active {
  color: var(--primary_dark) !important;
}

._sidebar.citoyen.dark .button_primary {
  background: var(--primary_dark);
  color: var(--primary_text_dark) !important;
}

._sidebar.active.citoyen {
  left: 0px;
  padding: 1.5rem 1rem;
}
.profile_citoyen_mobile_x {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile_citoyen_mobile_x .image {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.profile_citoyen_mobile_x > p {
  margin: 0 1rem;
}
.profile_citoyen_mobile_x {
  cursor: pointer;
}

._sidebar_list.rtl {
  text-align: right;
}

._sidebar_list.rtl .item a,
._sidebar.citoyen.rtl p {
  font-family: "Cairo", sans-serif;
  font-weight: 600;
}

._sidebar_list ._dark_trigger {
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}

._sidebar_list.rtl ._dark_trigger {
  flex-direction: row-reverse;
}
