._admin_profile {
  padding: 4rem;
}
._admin_profile .container {
  margin: 2rem 0;
}
._admin_profile_grid {
  width: 100%;
}
._admin_profile_grid > ._card {
  width: 30% !important;
}

._admin_profile_grid > ._not_card {
  width: 70% !important;
}

@media (max-width: 1500px) {
  ._admin_profile_grid > ._card {
    width: 40% !important;
  }
  ._admin_profile_grid > ._not_card {
    width: 50% !important;
  }
}
@media (max-width: 1299px) {
  ._admin_profile_grid > ._card {
    width: 45% !important;
  }
  ._admin_profile_grid > ._not_card {
    width: 45% !important;
  }
}
@media (max-width: 1099px) {
  ._admin_profile_grid > ._card {
    width: 48% !important;
  }
  ._admin_profile_grid > ._not_card {
    width: 42% !important;
  }
}
