._header_maire {
  position: fixed;
  top: 0;
  right: 0;
  left: 230px;
  height: 70px;
  z-index: 30;
}
._header_maire > .row {
  display: flex;
  padding: 0.6rem 0;
  background-color: white;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

._header_maire ._name {
  margin-left: 1rem;
}
.right_part > .profile_img > .btn_segment .button {
  border: 2px solid var(--primary) !important;
  color: var(--primary) !important;
  background-color: white;
  font-size: 15px !important;
  padding: 0.571429em 1.2em !important;
}
.right_part > .profile_img > .btn_segment.active .button {
  background-color: var(--primary) !important ;
  color: white !important;
  cursor: default !important;
}
.right_part > .profile_img > .btn_segment .button:hover {
  border: none;
  background-color: var(--primary) !important ;
  color: white !important;
}
._header_maire > .row.mobile {
  display: none;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
._header_maire > .row > .search > .input > .prompt,
._header_maire > .row > .search > .input {
  border: none;
}
._header_maire > .row > .search,
._header_maire > .row > .search.focus {
  margin: 0 3rem;
}
._header_maire > .row.focus > .search > .input {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
  width: 300px;
  color: #576271;
  border-radius: 4px;
}
._header_maire > .row.focus > .search > .input input::placeholder,
._header_maire > .row.focus > .search > .input input:-moz-placeholder {
  color: #576271 !important;
}
._header_maire .right_part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
}
._header_maire .right_part > .profile_img {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._header_maire .right_part > .profile_img img {
  border-radius: 50%;
  border: 2px solid #95989a;
  width: 50px;
  height: 50px;
}
.profile_img .ui.dropdown .menu .item {
  background-color: white !important;
  color: #576271 !important;
}
.profile_img .ui.dropdown .menu .item:hover {
  background-color: rgba(0, 0, 0, 0.03) !important;
}
.profile_img .ui.dropdown .menu {
  width: 160px !important;
}
@media (max-width: 899px) {
  ._header_maire > .row {
    display: none !important;
  }
  ._header_maire {
    left: 0px !important;
    height: 70px;
  }
  ._header_maire > .row.mobile {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }
  ._header_logo {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 730px) {
  ._header_logo {
    width: 40px;
    height: 40px;
  }
}
.ui-alerts.container_toastr_service.top-right {
  position: absolute !important;
  right: 1% !important;
  top: 60% !important;
  padding: 2rem 0 !important;
  max-width: 400px !important;
  z-index: 60 !important;
}
.ui-alerts.container_toastr_service.top-right .content .header {
  font-size: 18px !important;
}
.ui-alerts.container_toastr_service.top-right .content p {
  font-size: 14px !important;
  max-width: 340px !important;
  white-space: break-spaces !important;
}

.ui-alerts.container_toastr_service.top-right
  .ui.icon.message
  > .icon:not(.close) {
  font-size: 2rem !important;
}
.notificated > path:nth-of-type(1) {
  fill: var(--secondary) !important;
}
.notificated > path:nth-of-type(2) {
  fill: var(--secondary) !important;
}
.notificated > path:nth-of-type(3) {
  fill: var(--secondary) !important;
}
